.header-content {
	margin-top: 10px;
	width: 100vw;
	padding: 32px 30px 32px 30px;
	height: 120px;
	z-index: 1;
	.flex-content {
		.flex-nav {
			a {
				color: #fefefe;
				:hover {
					color: #ebdaa9;
				}
			}
			.active {
				color: #edb27e;
			}
		}
	}
}
.logo-content {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	font-weight: 600;
}
